#!/usr/bin/make -f

INSTALL_FILE    := install -m 644
INSTALL_PROGRAM := install -m 755
INSTALL_DIR     := install -m 755 -d

package := u-boot
compat_package := uboot-mkimage

DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export CROSS_COMPILE := $(DEB_HOST_GNU_TYPE)-
endif

# the upstream build passes LDFLAGS directly to ld instead of calling gcc for
# linking; so instead of passing -Wl,foo in LDFLAGS as in automake builds, one
# should set LDFLAGS to foo directly
comma := ,
LDFLAGS := $(patsubst -Wl$(comma)%,%,$(LDFLAGS))

build:
	$(checkdir)

	# NB: tools are hard to cross-builds which might call mkimage: one
	# would need to build tools for the host machine but a mkimage for the
	# build machine; unfortunately, mkimage can't be overriden right now,
	# so simply skip building tools when potentially building a specific
	# image format
	set -e; sed -n 's/^$(DEB_HOST_ARCH)[[:space:]]\+//p' debian/targets \
	    | while read platform target; do \
	        builddir=`pwd`/debian/build/$$platform; \
	        installdir=debian/$(package)/usr/lib/$(package)/$$platform; \
	        mkdir -p $$builddir; \
	        $(MAKE) O=$$builddir $${platform}_config; \
	        $(MAKE) O=$$builddir $$builddir/$$target; \
	        $(INSTALL_DIR) $$installdir; \
	        $(INSTALL_FILE) $$builddir/$$target $$installdir; \
	        $(INSTALL_FILE) $$builddir/u-boot $$installdir/uboot.elf; \
	        $(CROSS_COMPILE)strip $$installdir/uboot.elf; \
	        if [ -n "$(CROSS_COMPILE)" ]; then \
	            $(MAKE) O=$$builddir tools; \
	            for tool in envcrc gen_eth_addr img2srec ncb; do \
	                t=$$builddir/$$target/$$tool; \
	                if [ -x $$t ]; then \
	                    $(INSTALL_DIR) debian/$(package)/usr/bin/; \
	                    $(INSTALL_PROGRAM) $$t debian/$(package)/usr/bin/; \
	                fi; \
	            done; \
	        fi; \
	done

	# board-independent tools
	$(MAKE) HOSTCC=$(CROSS_COMPILE)gcc HOSTSTRIP=$(CROSS_COMPILE)strip tools
	$(INSTALL_DIR) debian/$(package)/usr/bin/
	$(INSTALL_PROGRAM) tools/mkimage debian/$(package)/usr/bin/

	# scripts
	$(INSTALL_PROGRAM) tools/jtagconsole debian/$(package)/usr/bin/
	$(INSTALL_PROGRAM) tools/netconsole  debian/$(package)/usr/bin/

	touch $@

clean:
	$(checkdir)
	rm -f debian/files debian/substvars
	rm -rf debian/$(package) debian/$(compat_package)
	rm -f build
	$(MAKE) distclean
	rm -rf debian/build
	rm -f `find . -name "*~"`

binary-indep:	checkroot
	$(checkdir)

	$(INSTALL_DIR) debian/$(compat_package)/DEBIAN \
	    debian/$(compat_package)/usr/share/doc/$(compat_package)/

	$(INSTALL_FILE) debian/copyright \
	    debian/$(compat_package)/usr/share/doc/$(compat_package)/
	$(INSTALL_FILE) debian/changelog \
	    debian/$(compat_package)/usr/share/doc/$(compat_package)/changelog.Debian

	gzip -9f `find debian/$(compat_package)/usr/share/doc -type f ! -name "copyright"`
	dpkg-gencontrol -ldebian/changelog -isp -p$(compat_package) -Tdebian/substvars -Pdebian/$(compat_package)
	cd debian/$(compat_package) && find * -type f ! -regex '^DEBIAN/.*' -print0 | xargs -r0 md5sum > DEBIAN/md5sums

	chown -R root:root debian/$(compat_package)
	chmod -R go=rX debian/$(compat_package)

	dpkg --build debian/$(compat_package) ..

binary-arch:	checkroot build
	$(checkdir)

	$(INSTALL_DIR) debian/$(package)/DEBIAN \
	    debian/$(package)/usr/share/doc/$(package)/ \
	    debian/$(package)/usr/share/lintian/overrides/ \
	    debian/$(package)/usr/share/man/man1

	$(INSTALL_FILE) doc/mkimage.1 debian/$(package)/usr/share/man/man1/

	$(INSTALL_FILE) debian/README.Debian debian/copyright \
	    debian/$(package)/usr/share/doc/$(package)/
	$(INSTALL_FILE) debian/changelog \
	    debian/$(package)/usr/share/doc/$(package)/changelog.Debian
	$(INSTALL_FILE) debian/lintian.overrides \
	    debian/$(package)/usr/share/lintian/overrides/$(package)

	gzip -9f `find debian/$(package)/usr/share/doc -type f ! -name "copyright"`
	gzip -9f `find debian/$(package)/usr/share/man -type f`
	# XXX misses board-specific tools
	dpkg-shlibdeps -Tdebian/substvars debian/$(package)/usr/bin/mkimage
	dpkg-gencontrol -ldebian/changelog -isp -p$(package) -Tdebian/substvars -Pdebian/$(package)
	cd debian/$(package) && find * -type f ! -regex '^DEBIAN/.*' -print0 | xargs -r0 md5sum > DEBIAN/md5sums

	chown -R root:root debian/$(package)
	chmod -R go=rX debian/$(package)

	dpkg --build debian/$(package) ..

define checkdir
	test -f debian/rules
endef

binary:		binary-arch binary-indep

prebuild:
	@true

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot prebuild
